.contenedor-icono svg {
   
    width: 30px;
    height: 30px;
    color: #ffff;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
}

.card-header {
    background-color: steelblue;
    color: #ffff;
}

.btn-primary {
    background-color: steelblue;
}

.btn-primary:hover {
    background-color: rgb(28, 111, 179);
}